<html (mousemove)="onMove()">

   <table>
  <tr>
     <td><label>Name </label></td>
     <td><input [(ngModel)]="student.name" ></td>
     <td><button (click)="createStudent(student)">Adicionar</button></td>
  </tr>
  <tr>
     <td><label>ID </label></td>
     <td><input [(ngModel)]="student.id" ></td>
     <td *ngIf="duplicateID">
       There is already a student registered with this ID
     </td>
  </tr>
  <tr>
     <td><label>e-mail </label></td>
     <td><input [(ngModel)]="student.email" ></td>
  </tr>
  </table>

   <table>
  <tr *ngIf="students.length > 0">
     <th>Student</th>
     <th>ID</th>
     <th>e-mail</th>
  </tr>
  <tr *ngFor="let s of students">
     <td>{{s.name}}</td>
     <td>{{s.id}}</td>
     <td>{{s.email}}</td>
  </tr>
  </table>

</html>
