<div class="movie-container bg-primary">
    <div class="poster-container">
        <img src="../../../assets/morbius-poster.jpg" id="movie-poster" class="rounded img-thumbnail">
    </div>

    <div class="movie-details-container">
        <h2 id="movie-title">Morbius</h2>
        <p>Biochemist Michael Morbius tries to cure himself of a rare blood disease, but he inadvertently infects himself with a form of vampirism instead.</p>
        <hr>

        <div class="general-info">
            <p>MPAA rating: <b class="text-warning">PG-13</b></p>
            <div class="vertical-line"></div>
            <p>Year released: <b class="text-warning">2022</b></p>
            <div class="vertical-line"></div>
            <p>Genre(s): <b class="text-warning">Action, Adventure, Horror</b></p>
            <hr>
        </div>

        <div class="cast-and-crew-info">
            <p>Director(s): <b class="text-warning">Daniel Espinosa</b></p>
            <div class="vertical-line"></div>
            <p>Top actors: <b class="text-warning">Jared Leto, Matt Smith, Adria Arjona</b></p>
            <hr>
        </div>

        <div class="rating-info"> 
            <div class="imdb">
                <a href="https://www.imdb.com/title/tt5108870/" target="_blank">
                    <img src="../../../assets/imdb-logo.png" alt="imdb logo" id="imdb-logo" href="https://www.imdb.com/title/tt5108870/" class="logo">
                </a>
                <p id="rating">Rated <b>5.2 / 10 </b> stars</p>
            </div>

            <hr>

            <div class="rotton-tomatoes">
                <a href="https://www.rottentomatoes.com/m/morbius" target="_blank">
                    <img src="../../../assets/rotton-tomatoes-logo.png" alt="rotton tomatoes logo" id="rotton-tomatoes-logo" class="logo">
                </a>
                <p id="rating">Rated <b>16%</b> by critics and <b>71%</b> by audiences</p>
            </div>
            <hr>
        </div>

        <div class="youtube-trailer">
            <a href="https://www.youtube.com/watch?v=SQK-QxxtE8Y" target="_blank">
                <img src="../../../assets/trailer-icon.png" alt="movie trailer icon" id="trailer-icon" class="logo">
                Watch the trailer
            </a>
            <hr>
        </div>

        <div class="reroll">
            <button class="btn btn-success">
                Want a different recommendation?

                <!-- Bootstrap icon -->
                <svg id="refresh-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg>
            </button>
        </div>
    </div>
</div>