body {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 50px;
    display: table;
}

hr {
    width: 600px;
    margin: 0 auto 15px auto;
    border-top: 3px solid white;
}

h1 {
    padding-top: 25px;
}

form {
    margin: auto;
}

input {
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    width: 150px;
    font-size: 25px;
}

.clear-float {
    clear: both;   
}

.col {
    width: 50%;
    float: left;
}

.col-1 {
    padding-right: 10px;
}

.col-2 {
    padding-left: 10px;
}

.form-container {
    width: 60%;
    margin: auto;
    clear: both;
}

.mpaa-inputs {
    width: 40%;
    margin: 20px auto auto auto;
}

.mpaa-inputs hr {
    width: 100%;
    margin: auto;
}