body {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 25px;
    display: table;
}

.panel {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 50px;
    display: table;
}

hr {
    width: 600px;
    margin: 0 auto 15px auto;
    border-top: 3px solid white;
}

h1 {
    padding-top: 25px;
}

form {
    margin: auto;
}

input, select {
    margin: auto;
    width: 140px;
}

input[type=checkbox] {
    vertical-align: middle;
}

button {
    margin-top: 20px;
    width: 150px;
    font-size: 25px;
}

.approximation-checkboxes {
    display: inline;
    width: 160px;
}

.approximation-checkboxes > .form-group {
    display: block;
    width: 100%;
    margin: auto;
    text-align: left;
}

.checkboxes input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    display: inline-block;
}

.col {
    width: 33%;
    display: inline-block;
}

.imdb, .rotten-tomatoes {
    display: inline
}

.imdb {
    width: 40%;
}

.logo {
    margin-right: 15px;
}

.row {
    margin: 15px auto auto auto;
}

.form-container {
    width: 80%;
    margin: auto;
    clear: both;
    min-width: 1200px;
}

.form-group {
    display: inline;
    width: 15%;
    overflow: hidden;
    margin: 0 0 0 0 !important;
}

.movie-info {
    border-radius: 10px;
    margin: 25px auto auto auto;
    width: 80%;
    padding-top: 10px;
}

.movie-info p {
    font-size: 20px;
}

.panel-2 {
    padding-top: 15px;
}

.imdb, .rotten-tomatoes {
    display: block;
    margin-bottom: 15px;
    margin-left: 0;
    width: 100%;
}

.question-mark-icon {
    display: inline;
}

.rating-info p {
    display: inline;
}

.request-error-warning, .request-success {
    width: 40% !important;
    margin: 25px auto auto auto;
    text-align: center;
    font-size: 20px;
}

.spinner-border {
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

#approx-label {
    width: 100px;
    display: inline;
    margin-right: 5px;
    margin-bottom: 3px;
    vertical-align: middle;
}

#imdb-logo {
    width: 70px;
    height: 40px;
}

#rotten-tomatoes-logo {
    width: 50px;
    height: 50px;
}